{% extends 'base.html' %}

{% block sadrzaj %}

<table class="table table-striped"> 
<thead class="thead-dark"> 
    <tr>
        <th scope="col">Podategorija</th>
        <th scope="col">Opis</th>
        <th scope="col">Kategorija Glavna</th>
    </tr>

</thead>
<tbody>




    {% for page in podkategorije_list %}

    <tr>
    <td >{{ page.naziv_podkategorije }}</td>
    <td >{{ page.opis }}</td>
    <td >{{ page.veza }}</td>
    </tr>
    
    {% endfor %}


</tbody>
</table>

{% endblock %}