{% extends 'base.html' %}

{% block sadrzaj %}

<table class="table table-striped"> 
<thead class="thead-dark"> 
    <tr>
        <th scope="col">Proizvod</th>
        <th scope="col">Opis</th>
        <th scope="col">Podkategorija</th>
        <th scope="col">Kupac</th>
        <th scope="col">calc</th>
    </tr>

</thead>
<tbody>




    {% for page in proizvodi_list %}

    <tr>
    <td >{{ page.naziv_proizvoda }}</td>
    <td >{{ page.opis_proizvoda }}</td>
    <td >{{ page.podkategorija_veza }}</td>
    <td >{{ page.kupac_veza }}</td>
    <td >{{ muhamedov_pro }}</td>
    </tr>
    
    {% endfor %}


</tbody>
</table>

{% endblock %}