<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Prodavnica</title>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
      <a class="navbar-brand" href="{% url 'proizvodi' %}">Prodavnica</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          

          <li class="nav-item">
            <a class="nav-link" href="{%url 'kategorije' %}">Kategorije</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{%url 'podkategorije' %}">Podkategorije</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{%url 'proizvodi' %}">Proizvodi</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{%url 'kupci' %}">Kupci</a>
          </li>




          <li class="nav-item">
            <a class="nav-link" href="{%url 'kategorije-add' %}">Kategorije-Add</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{%url 'podkategorije-add' %}">Potkategorije-Add</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{%url 'proizvodi-add' %}">Proizvodi-Add</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{%url 'kupci-add' %}">Kupci-Add</a>
          </li>
          
          
        </ul>
        
      </div>
    </nav>


    {% block sadrzaj %}

    {% endblock %}

   
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    
  </body>
</html>